body {
    &.black-red {
        background-color: $color-black;

        .playlist {
            background-color: $color-white;
        }

        .category .category-item.active,
        .category .category-item:hover,
        .playlist .playlist-item:hover,
        .playlist .active {
            color: $color-white;
            background-color: $color-red;
        }

        .recently-played .recently-played-item,
        .theme-group .theme-item {
            background-color: $color-red;

            a {
                background-color: $color-red;
            }

            .delete:hover {
                color: $color-blue;
            }
        }

        .theme-group {
            .theme-item {
                a {
                    color: $color-white;
                    background-color: $color-red;
                }
            }
        }

        .page-title {
            color: $color-white;
        }
    }
}