$image-ap-logo: './../../images/ap-logo.jpg';

$color-red: #dc3545;
$color-blue: #007bff;
$color-white: #ffffff;
$color-black: #000000;

body {
    min-width: 600px !important;
    // background-image: url($image-ap-logo);

    &.black-red {
        background-color: $color-black;

        .playlist {
            .active {
                background-color: $color-red;
            }
        }

        .list-group-item:hover {
            color: $color-white;
            background-color: $color-red;
        }

        .list-group-item-primary {
            cursor: pointer;
            background-color: $color-red;

            a {
                background-color: $color-red;
            }
        }

        .page-title {
            color: $color-white;
        }
    }
}

.playlist {
    min-height: 400px;
    max-height: 400px;
    overflow: overlay;
    background-color: $color-white;

    .search {
        top: 0px;
        z-index: 1;
        position: sticky;
    }

    .nowplaying {
        bottom: 0px;
        z-index: 1;
        position:sticky;
    }

    .active {
        background-color: $color-blue;
    }

    .list-group-item {
        cursor: pointer;

        &:hover {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}

.theme-group {
    .list-group-item-primary {
        background-color: transparent;

        a {
            color: $color-white;
            cursor: pointer;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: $color-blue;
        }
    }
}
