@import './variables';
@import './theme-red';
@import './helpers';

body {
    min-width: 600px !important;
    // background-image: url($image-ap-logo);
}

.category {
    &-item {
        cursor: pointer;

        .active,
        &:hover {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}

.playlist {
    min-height: 400px;
    max-height: 400px;
    overflow: overlay;
    background-color: $color-white;

    .search {
        top: 0px;
        z-index: 1;
        position: sticky;
    }

    .active {
        background-color: $color-blue;
    }

    .playlist-item {
        cursor: pointer;

        &:hover {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}

.recently-played,
.theme-group {
    .recently-played-item,
    .theme-item {
        cursor: pointer;
        background-color: $color-blue;

        a {
            background-color: $color-blue;
        }

        .delete:hover {
            color: $color-red;
        }
    }
}

.theme-group {
    .theme-item {
        a {
            color: $color-white;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: $color-blue;
        }
    }
}
